html {
	height: 100vh;




background: #1A2980; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1A2980 , #26D0CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
	
	
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	max-width: 80%;
	margin-left: 3.5%;
}
form {
	max-width: 600px;
}
form #message, form #finalLink {
	max-width: 100%;
}
.form > textarea, .form > input:not(#q), .form > input:not(#hide) {
	margin: .3rem 0 0.75rem 0;
}

#hide {
	display: none;
	border-radius: 2px;
}
#q, #hide {
	background: #446CB3;
	color: #fff;
	border: 1px solid #446CB3;
}
#generate {
	font-size: 1.25rem;
	background: #446CB3;
	border: 2px solid #446CB3;
	color: #fff;
}
#generate:hover {
	background: #3498DB;
	border: 2px solid #3498DB;
}
#hide, #reset, #select, #preview {
	background: #fff;
	color: #446CB3;
}
#generate, #reset, #select, #preview{
	padding: .45rem .85rem;
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 4px;
	font-weight: bold;
}
#q {
	border-radius: 100%;
}
#reset, #select, #preview {
	font-size: 1rem;
	border: 1.5px solid #eee;
	background: #eee;
	line-height: 1.5rem;

}
input[type="button"]:hover, button:hover, #reset, #select, #preview {
	cursor: pointer;
}
#status {
	font-size: .95rem;
	font-family: monospace;
	max-width: 445px;
	color: #000;
	border-radius: 3px;
}
.footer p {
	font-size: .75rem;
	margin-top: 8%;
}
.footer a {
	color: #F62459;
	text-decoration: none;
}
.footer span a{
	font-size: 2rem;
}
#hihi {
	visibility: hidden;
}